<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
         <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap-3.3.7-dist/css/bootstrap.min.css') }}"> 
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('eMeal.png') }}" />
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
 
</body>
</html>
