{% extends "ProductBundle::layout.html.twig" %}

{% block body %}
    
This is your basket :
    <ul>
    {% for product, quantity in basket %}
        <li> {{ product }} / {{ quantity }}</li>
    {% endfor %}
    </ul>
{% endblock %}

