{% extends "ProductBundle::layout.html.twig" %}

{% block body %}
    
    {% if productList is empty %}
        <p>Your basket is empty</p>
    {% else %}
        <p>This is your basket :</p>
        <ul>
        {% for product in productList %}
            <li> {{ product.category.name }} {{ product.name }} {{ product.price}} x {{ quantity[product.id] }} </li>
        {% endfor %}
        </ul>
    {% endif %}
   
{% endblock %}

