{% extends "::layout.html.twig" %}

{%block body %}

    
{% if listOrder is empty %}
    <p>You don't have any order.</p>
{% else %}
    <p>Here are your previous order:</p>

    {% for order in listOrder %}
        <li>
            {{ order.toString() }} 
        </li>
    {% endfor %}
{% endif %}
    

{% endblock %}